.FirstHero{
    background:url('../../assets/full-illustration-desktop-20220802@2x.jpg');
    background-size:cover;
    background-position-y:98%;
    width:100%;
    height: 554px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    z-index:-1;
    overflow:hidden;
}

.topHero{
  background:url('../assets/full-illustration-desktop-20220802@2x.jpg');
  background-size:cover;
  background-position-y:98%;
  width:100%;
  height: 554px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  text-align:center;
}
.topHero2{

  width:100%;
  height:56vh;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:space-between;
  margin-top:2.2%;
  margin-bottom:4.2%;
  padding-inline:12%;
}
.topHero3{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:center;
  margin-top:2.2%;
  margin-bottom:2.2%;
  background-color:#1cb36c;
  padding-inline:12%;
  color:white;
}
.topHero2 p:nth-child(1){

  font-family:"NunitoBold";
  color:rgb(252, 0, 0);
  padding-bottom:2.2%;
  z-index:-1;
  
}
.topHero2 p:nth-child(2){

  font-family:"NunitoExtraBold";
  font-size:33px;
  
}

.FirstHero p{
  font-family:"NunitoExtraBold";
  color: #01485c;
  line-height:61px;
  margin-bottom:2%;
  z-index:1;
  font-size: calc(3em + 1.5vw);

}
.FirstHero button{
  height: 54px;
  width: 244px;
  border-radius:34px;
  color:#02a95c;
  background-color:white;
  border:none;
  cursor: pointer;
  font-family:"NunitoBold";
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 1.1rem;
  transition:.6s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);

}
.FirstHero button:hover{
  background-color:#ddffef;
}
.cardHero{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-start;
  height: 154px;
}
.cardCounter{
  background-color:#02a95c;
  font-family:"NunitoBold";
  color:white;
  width: 45px;
  height: 45px;
  border-radius:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.cardHeroBottom p:nth-child(1){
  color:black;
  font-size:23px;
}
.cardHeroBottom p:nth-child(2){
  font-size:16px;
  font-family:"NunitoRegular";

}
.cardHeroGroup{
  margin-top:3%;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-column-gap:1%;
  width:100%;
}
.topHero3 p:nth-child(1){
  font-family:"NunitoExtraBold";
  font-size:43px;
}
.topHero3 p:nth-child(2){
  width:75%;
  font-family:"NunitoRegular";
  font-size:33px;
  margin-top:3%;
}