@font-face {
    font-family:"NunitoRegular";
    src: url("/src/assets/fonts/NunitoSans-Regular.ttf");
}

@font-face {
    font-family:"NunitoBold";
    src: url("/src/assets/fonts/NunitoSans-Bold.ttf");
}

@font-face {
    font-family:"NunitoExtraBold";
    src: url("/src/assets/fonts/NunitoSans-ExtraBold.ttf");
}

.regular{
    font-family:"NunitoRegular";
}

.bold{
    font-family:"NunitoBold";
}
.extraBold{
    font-family:"NunitoExtraBold";
}